.flex-container{
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: flex-end;
}
.flex-container2{
    display: flex;
    flex-direction: row;

}
.flex-container3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-container4{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.flex-container5{
    display: flex;
    justify-content: space-around;
}
.flex-container6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    background-color: #f2f2f2;
}
.flex-items1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex-items4{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}
.flex-items5{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.flex-items6{
    display: flex;
    flex-direction: column;
}
.menu-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: #333;
    font-size: large;
}

.n{
    text-decoration: none;
    color: #333;
    font-size: large;
}
.logo{
    width: 2.5cm;
    height: 2.5cm;
}
.active a{
    color: red;
    font-weight: bold;
    text-decoration: none;
}
.navform{
    float: right;
    margin-top: 80px;
}
.btny{
    float: right;
    background-color: rgb(255, 191, 0);
    margin-right: -150px;
    margin-top: 3px;
    width: 3cm;
    height: 1cm;
    font-size: medium;
    border-color: rgb(255, 191, 0);

}
.sbar{
    height: 0.5cm;
    width: 4cm;
}
.box1{
    border: 1cm;
    border-color: black;
}
.bundle{
    width: 70%;
    height: 70%;
}
fieldset{
    border: solid 1px rgba(0, 0, 0, 0.278);
    float: left;
    vertical-align: middle;
}
p{
    font-size : 18px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.breakfast{
    width: 70%;
    height: 70%;
}
.burgers{
    width: 70%;
    height: 70%;
}
.chicken{
    width: 70%;
    height: 70%;
}
.cafe{
    width: 70%;
    height: 70%;
}
.drinks{
    width: 70%;
    height: 70%;
}
.fieldset-content{
    margin-top: 10px;
}
.title{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 3.5cm;
}
.menu-img{
    width: 80%;
    height: 80%;
}
.b{
    width: 60%;
    height:60%;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.mimg{
    width: 40%;
    height: 80%;
    text-align: center;
    vertical-align: middle;
}
.box2{
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}
.btny2{
    border-color: rgb(255, 191, 0);
    background-color: rgb(255, 191, 0);
    width: 5.5cm;
    height: 1.3cm;
    font-size: medium;
    
}
.desc{
    font-weight: light;
    font-size: 16px;
}
.order1{
    padding:0%;
    margin-left:auto;
    margin-right: auto;
}
.end{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
td{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.foot{
    border-spacing: 2px;
    margin-left: 5px;
    
}

.foot{
    text-decoration: none;
    text-align: left;
}
.vertical-img{
    width: auto;
    height: auto;
}
.row{
    display: flex;
    justify-content: center;
}
.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}